//*********************************************************************
//* 変数定義
//*********************************************************************

//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// サイズ定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$inner--width: 1280px;
$mini-inner--width: 960px;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Color 定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// コンテンツ部分
$contents__bg--color: white;
$contents__font--color: #383838;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Font 定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
@font-face {
	font-family: "Noto Sans JP";
	src: url("../fonts/NotoSansJP-Thin.otf");
    font-weight: 100;
}
@font-face {
	font-family: "Noto Sans JP";
	src: url("../fonts/NotoSansJP-Light.otf");
    font-weight: 300;
}
@font-face {
	font-family: "Noto Sans JP";
	src: url("../fonts/NotoSansJP-Regular.otf");
    font-weight: 400;
}
@font-face {
	font-family: "Noto Sans JP";
	src: url("../fonts/NotoSansJP-Medium.otf");
    font-weight: 500;
}
@font-face {
	font-family: "Noto Sans JP";
	src: url("../fonts/NotoSansJP-Bold.otf");
    font-weight: 700;
}
@font-face {
	font-family: "Noto Sans JP";
	src: url("../fonts/NotoSansJP-Black.otf");
    font-weight: 900;
}

$mincho: "YuMincho", "MS PMincho", serif;
$Gothic: 'Noto Sans JP', sans-serif;