//*********************************************************************
//* 変数定義
//*********************************************************************

//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// サイズ定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$inner--width: 1280px;
$mini-inner--width: 960px;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Color 定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// コンテンツ部分
$contents__bg--color: white;
$contents__font--color: #383838;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Font 定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$mincho: "YuMincho", "MS PMincho", serif;
$Gothic: 'Noto Sans JP', sans-serif;