
// 文章
*, h1, h2, h3, h4, h5, h6, p, span, a, li, th, td, small, label, pre, code,
div, article, section, aside {
	box-sizing: border-box;

    font-family: $Gothic;
    line-height: 180%;
}

// リンク
a {
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
    }
}

// ページ内リンク用アンカー
.anchor {
    margin-top: -100px;
    padding-top: 100px;
}