//*********************************************************************
//* 変数定義
//*********************************************************************

//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// サイズ定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$inner--width: 1600px;
$mini-inner--width: 960px;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Color 定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// コンテンツ部分
$contents__bg--color: #FFF;
$contents__font--color: #333333;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Font 定義
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$mincho: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
$Gothic: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "游ゴシック Medium", メイリオ, sans-serif;