//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  モジュール
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// フォントサイズ定義
$h2__font--size: 26px;
$h3__font--size: 20px;
$text__font--size: 16px;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  見出しデザイン
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
h2.ttl {
    display: block;
    margin: 40px 0px 40px 0px;
    padding: 10px 10px;
    position: relative;

    text-align: center;
    color: $contents__font--color;
    font-size: $h2__font--size;
    font-weight: bold;
}

h3.ttl {
    display: block;
    margin: 50px 0px 30px 0px;
    padding: 5px;

    text-align: center;
    color: $contents__font--color;
    font-size: $h3__font--size;
}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  基本テキストのデザイン
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
div, p, span, li, th, td {
    color: $contents__font--color;
    font-size: $text__font--size;
}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  リンクのデザイン
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// 電話番号リンク
a[href*="tel:"] {
	color: inherit;
    pointer-events: unset;
}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  サイズごとの表示・非表示
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// パソコンでは表示しない
.pc_off {}
// タブレットでは表示しない
.tab_off { display: none !important; }
// スマホでは表示しない
.sp_off {}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  レスポンシブグリッド
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
ul.col, div.col {
	display: block;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-size: 0px;

	> li, > div {
        display: inline-block;
        margin: 0px;
		padding: 0px;
        width: 50%;
        box-sizing: border-box;

        list-style-type: none;
        font-size: $text__font--size;
        vertical-align: top;

        &.tab_5 { width: 5%; }
        &.tab_10 { width: 10%; }
        &.tab_15 { width: 15%; }
        &.tab_20 { width: 20%; }
        &.tab_25 { width: 25%; }
        &.tab_30 { width: 30%; }
        &.tab_33 { width: 33.333%; }
        &.tab_35 { width: 35%; }
        &.tab_40 { width: 40%; }
        &.tab_45 { width: 45%; }
        &.tab_50 { width: 50%; }
        &.tab_55 { width: 55%; }
        &.tab_60 { width: 60%; }
        &.tab_65 { width: 65%; }
        &.tab_70 { width: 70%; }
        &.tab_75 { width: 75%; }
        &.tab_80 { width: 80%; }
        &.tab_85 { width: 85%; }
        &.tab_90 { width: 90%; }
        &.tab_95 { width: 95%; }
        &.tab_100 { width: 100%; }
	}
}


