// フォントサイズ定義
$h2__font--size: 22px;
$h3__font--size: 18px;
$text__font--size: 15px;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  各ページ共通レイアウト
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body {
    .inner {
        margin: 0px 30px;
    }
}

//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  ヘッダー
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.header {

    // ハンバーガーボタンの設定
    &__hamburger {
        display: block;
        padding: 5px 10px;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        right: 0px;

        background: #777;
        border: none;

        // ハンバーガー内側の3本線
        > .line {
            display: block;
            margin-top: 4px;
            width: 100%;
            height: 4px;

            background: white;
            border-radius: 4px;
            transform: rotate(0deg);
            opacity: 1;
            transition: transform 0.5s ease;
        }

        // ハンバーガー内のキャプション
        > .caption {
            color: #FFF;
            font-size: 11px;
            background: none;
            border: none;
        }

        // 開いている状態の時
        &.open_hamburger {
            .line:nth-of-type(1) {
                transform: translateY(8px) rotate(135deg);
            }
            .line:nth-of-type(2) {
                transform: rotate(180deg);
                opacity: 0;
            }
            .line:nth-of-type(3) {
                transform: translateY(-8px) rotate(45deg);
            }
        }
    }

    // ハンバーガーに応じて開閉するメニュー
    nav {
        display: none;
    }
}

//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  フッター
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.footer {
    &__inner {
        display: block;
        margin: 0px 30px;
        padding: 5px 0px;

        text-align: center;
        color: $footer__font--color;
        font-size: 0.8em;
    }
}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  トップページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  投稿ページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-