// フォントサイズ定義
$h2__font--size: 22px;
$h3__font--size: 20px;
$text__font--size: 15px;


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  各ページ共通レイアウト
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
body {
    width: 100%;
    background: $contents__bg--color;

    .inner {
        display: block;
        margin: 0px auto;
        padding: 30px 10px;
        max-width: $inner--width;
        position: relative;
    }

    .inner--mini {
        display: block;
        margin: 0px auto;
        padding: 30px 10px;
        max-width: $mini-inner--width;
        position: relative;
    }
}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  ヘッダー
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$header__bg--color: $contents__bg--color;
$header__font--color: #333;

.header {
    position: relative;
    z-index: 10;
    background: $header__bg--color;
    border-bottom: 3px solid #E3D3B3;

    // ヘッダー固定オプション
    &--fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    &__inner {
        display: block;
        margin: 0px auto;
        padding: 20px 20px 0px 20px;
        max-width: $inner--width;
        position: relative;

        color: $header__font--color;
    }

    // サイトタイトル
    .site_ttl {
        h1 {
            color: #4D473C;
            text-decoration: none;
            font-size: 48px;
            font-weight: 500;
            line-height: 100%;
        }
    }

    // ハンバーガーボタンの設定
    &__hamburger {
        display: none;
    }

    // ヘッダートップメニュー
    nav.menu-miniheader-container {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;

        .headermenu {
            display: block;
            margin: 0px;
            padding: 0px;

            > li {
                display: inline-block;
                margin: 0px;
                padding: 0px;

                > a {
                    display: block;
                    padding: 0px 15px;

                    color: #4D473C;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 100%;
                    border-right: 1px solid #998E79;
                }

                &:last-of-type > a {
                    border-right: none;
                }
            }
        }
    }

    // グローバルメニュー
    nav {
        margin-top: 20px;

        .globalmenu {
            display: block;
            margin: 0px;
            padding: 0px;

            text-align: center;

            > li {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                position: relative;

                > a {
                    display: block;
                    padding: 5px 20px;

                    color: #383838;
                    font-size: 16px;
                    font-weight: 400;
                    background: linear-gradient(to top, #4D473C, #685026);
                    background-position: left bottom;
                    background-size: 100% 0px;
                    background-repeat: no-repeat;
                    transition:
                        color 0.5s ease,
                        background-size 0.5s ease;

                    &:hover {
                        color: white;
                        background-size: 100% 100%;
                    }
                }

                > .sub-menu {
                    display: none;
                    width: max-content;
                    position: absolute;
                    top: 100%;
                    left: 0px;

                    background: #E3D3B3;

                    > li {
                        display: block;
                        width: max-content;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
        
                        > a {
                            display: block;
                            padding: 5px 20px;
        
                            color: #4D473C;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
                // マウスホバーすると子要素の.sub-menuを展開する
                &:hover > .sub-menu {
                    display: block;

                    &:hover {
                        display: block;
                    }
                }
            }
        }
    }
}

.keyvisual {
    font-size: 0px;
}


//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  フッター
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
$footer__bg--color: #DDD;
$footer__font--color: #000;

.footer {
    background: $footer__bg--color;
    
    // フッター固定オプション
    &--fixed {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
    }

    &__inner {
        display: block;
        margin: 0px auto;
        padding: 20px;
        max-width: $inner--width;

        text-align: center;
        color: $footer__font--color;
        font-size: 0.8em;
    }

    // フッターロゴ
    .footer_logo {
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    // フッターのグローバルメニュー
    nav {
        #globalmenu--footer_left,
        #globalmenu--footer_right {
            display: block;
            margin: 0px;
            padding: 0px;

            > li {
                display: block;
                margin: 0px;
                padding: 0px;
                position: relative;

                > .sub-menu {
                    padding-left: 20px;

                    > li {
                        display: block;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
                    }
                }
            }

            a {
                display: block;
                padding: 0px 0px 0px 20px;
                position: relative;

                color: #333;
                text-align: left;
                font-size: $text__font--size;

                &::before {
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 50%;
                    left: 5px;

                    content: '';
                    background: #333;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // フッターのイメージグリッド
    .img_grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 2px;
        row-gap: 2px;

        .img_grid_block {
            display: block;
            margin: 0px;
            padding: 0px;
            aspect-ratio: 1 / 1;
            font-size: 0px;

            > img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter 0.5s ease;
            }

            &:hover img {
                filter: grayscale(1);
            }
        }
    }
}

// コピーライト
#copyright {
    display: block;
    margin: 0px;
    padding: 2px 0px;

    color: #333;
    text-align: center;
    font-size: 16px;
    background: #aaa;
}

// フッターウィジェットエリア
.footer_widget {
    padding: 30px;
    background: #505050;
}

// スマホ用固定フッターボタン
.sp_footer_area {
    display: none;
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  サイドバー
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.sidebar_profile {
    background: white;
    border: 1px solid #ccc;

    &__title {
        padding: 5px 10px;

        color: #333;
        font-size: 15px;
        font-weight: 400;
        line-height: 120%;
        border-bottom: 1px solid #ccc;
    }
    &__background {
        width: 100%;
        height: auto;
        aspect-ratio: 21/9;
        object-fit: cover;
    }
    &__contents {
        padding: 40px 10px 10px 10px;
        position: relative;
    }
    &__img {
        display: block;
        padding: 3px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0px;
        left: 50%;

        object-fit: cover;
        background: white;
        border: 1px solid #ccc;
        border-radius: 50%;
        box-shadow: 1px 1px 5px #5a492b;
        transform: translate(-50%, calc(-50% - 10px));
    }
    &__name {
        color: #333;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
    }
    &__job {
        color: #888;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 100%;
    }
    &__text {
        display: block;
        padding: 10px 15px 0px 15px;
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
    }
    &__contact_btn {
        display: block;
        margin-top: 10px;
        padding: 5px 10px;

        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        background: linear-gradient(45deg, #685026, #5a492b);
        box-shadow: 1px 1px 3px #5a492b;
    }
}

#sidebar {
    > li {
        list-style-type: none;

        // 検索窓
        .search-form {
            margin-top: 50px;

            .search-field {
                padding: 5px 10px;
                font-size: 15px;
                font-weight: 400;
                border: 1px solid #ccc;
            }
            .search-submit {
                padding: 5px 15px;

                color: white;
                font-size: 15px;
                background: #ccc;
            }
        }

        // カテゴリー一覧
        ul.wp-block-categories-list {
            margin: 30px 0px;

            li.cat-item {
                > a {
                    display: inline-block;
                    margin-left: 20px;
                    position: relative;

                    color: #383838;
                    font-size: 15px;
                    font-weight: 400;
                    background-image: linear-gradient(to top, #383838, #383838);
                    background-position: left bottom;
                    background-size: 0% 1px;
                    background-repeat: no-repeat;
                    transition: background-size 0.5s ease;

                    &::before {
                        display: block;
                        width: 11px;
                        height: 11px;
                        position: absolute;
                        top: calc(1.8em / 2);
                        left: -20px;
                        
                        content: '';
                        background: #E3D3B3;
                        border-radius: 3px;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        background-size: 100% 1px;
                    }
                }

                // サブカテゴリー
                ul.children {
                    margin-left: 18px;
                }
            }
        }
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  コンテンツ部
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.single-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;

    // メインコンテンツ部
    &__contents {
        flex: 3;
        flex-shrink: 3;
        width: 75%;
    }
    // サイドバー部
    &__side {
        flex: 1;
        flex-shrink: 1;
        width: 25%;
    }
}

#container {

    // ページタイトル
    .entry-title {
        display: block;

        color: #333;
        text-align: center;
        font-size: 28px;
    }

    // アイキャッチ下のグローバルメニュー
    nav {
        display: block;
        padding: 5px 0px;

        .globalmenu {
            display: block;
            margin: 0px auto;
            padding: 0px;
            max-width: $inner--width;

            > li {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                position: relative;

                > a {
                    display: block;
                    padding: 0px 15px;

                    color: $contents__font--color;
                    font-size: 16px;
                    border-right: 1px solid $contents__font--color;
                }
                &:last-of-type > a { border: none; }

                // マウスホバーすると子要素の.sub-menuを展開する
                &:hover > .sub-menu { display: block; }
                > .sub-menu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0px;

                    > li {
                        display: inline-block;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
        
                        > a {
                            display: block;
                            padding: 5px;
        
                            color: $contents__font--color;
                            font-size: 16px;
                            border-bottom: 1px solid $contents__font--color;
                        }
                    }
                }
            }
        }
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  トップページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.main_visual {}

#home {
    section {
        padding: 50px 0px;

        // お知らせ
        &.news {
            padding: 0px;

            > .inner {
                padding: 20px 10px 0px 10px;
            }

            .news_block {
                > a {
                    display: block;

                    time {
                        display: inline-block;
                        margin-right: 10px;
                        padding: 5px 15px;

                        color: white;
                        font-size: 14px;
                        line-height: 100%;
                        background: #4D473C;
                    }

                    h2 {
                        display: inline-block;

                        color: #4D473C;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }

        // 特大記事の表示部分
        &.latest_post {
            padding: 0px;

            > .inner {
                display: block;
                padding: 20px 0px;
                width: 100%;

                font-size: 0px;
            }

            .latest_post_block {
                display: inline-block;
                padding: 0px;
                width: 50%;

                font-size: 1rem;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    position: relative;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                    }

                    .latest_post_block__text {
                        display: block;
                        padding: 30px 15px 15px 15px;
                        width: 100%;
                        position: absolute;
                        left: 0px;
                        bottom: 0px;

                        color: white;
                        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 80%);

                        // 公開日・更新日
                        .date {
                            display: block;

                            .publish_date, .modified_date {
                                margin-right: 10px;
                                color: white;
                                font-size: 14px;
                                line-height: 120%;
                                
                                .fas {
                                    margin: 0px 5px;
                                }
                            }
                        }

                        // カテゴリー
                        .categories {
                            .cat_block {
                                display: inline-block;
                                margin-right: 5px;
                                padding: 5px 10px;

                                color: white;
                                font-size: 14px;
                                line-height: 100%;
                                background: #4D473C;
                            }
                        }

                        // タイトル
                        h2 {
                            color: white;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 140%;
                        }
                    }
                }
            }
        }
    }

    //==================================================
    // メインコンテンツ
    //==================================================
    .tabs {
        display: block;
        margin: 20px 0px 0px 0px;
        padding: 0px;

        font-size: 0px;

        // カテゴリーキャプション
        .category_caption {
            display: inline-block;
            padding: 10px 15px;

            color: #333;
            text-align: center;
            font-size: 15px;
            line-height: 180%;
            background: #e0e0e5;
            border-bottom: 1px solid #ccc;
            outline: none;
            transition: background-color 0.5s ease;

            &--open {
                background: #aaa;
            }
        }
    }
    // カテゴリーコンテンツ
    .category_content {
        display: block;
        margin-bottom: 50px;

        .post_block {
            display: flex;
            flex-direction: row;
            padding: 30px 0px 0px 0px;
            gap: 30px;

            // サムネイル
            &__thumbnail {
                width: 30%;
                max-width: 280px;
            }

            // テキストエリア
            &__text {
                flex: 1;

                .date {
                    time {
                        margin-right: 5px;
                        font-size: 12px;
    
                        > .fas {
                            margin: 0px 5px;
                        }
                    }
                }

                h2 {
                    margin-bottom: 5px;

                    color: #333;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 130%;
                }
                .content {
                    display: -webkit-box;
                    height: calc(1.8em * 6);
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 6;

                    color: #333;
                    font-size: 15px;
                    line-height: 180%;
                }
            }
            // カテゴリー
            .categories {
                .cat_block {
                    display: inline-block;
                    padding: 5px 10px;

                    color: white;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 100%;
                    background: #4D473C;
                }
            }
        }
    }
}

// お知らせ一覧エリア
section.news {
    ul {
        display: block;
        margin: 20px 0px;

        > li {
            display: block;
            list-style-type: none;

            > a {
                display: block;
            }
        }
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  カテゴリーページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
article.category {
    .post_block {
        padding: 50px 0px;
        border-bottom: 1px solid #888;

        h3 {
            color: $contents__font--color;
            font-size: 20px;
            font-weight: bold;
        }

        // 日付
        .date {
            .publish_date {
                margin-right: 10px;
                color: $contents__font--color;
                font-size: 14px;
            }
            .modified_date {
                margin-right: 10px;
                color: $contents__font--color;
                font-size: 14px;
                
                > .fas {
                    margin: 0px 5px;
                }
            }
        }

        // カテゴリー
        .categories {
            .cat_block {
                display: inline-block;
                padding: 5px 10px;

                color: white;
                font-size: 12px;
                line-height: 100%;
                background: #445;
            }
        }

        // アイキャッチ画像
        .eyecatch_img {
            margin-top: 10px;
        }

        // 抜粋
        .excerpt {
            display: -webkit-box;
            margin-left: 30px;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 9;
            font-size: 15px;
        }
    }

    // ページネーション
    .pagination {
        margin: 80px 0px;

        .nav-links {
            box-sizing: border-box;
            text-align: center;

            .page-numbers {
                display: inline-block;
                padding: 0px 10px 10px 10px;
                position: relative;
                box-sizing: border-box;

                color: #333;
                font-size: 16px;
                font-weight: 500;
                line-height: 100%;

                &::before {
                    display: block;
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: 100%;
                    left: 50%;

                    content: '';
                    background: #E3D3B3;
                    border-radius: 10px;
                    transform: translate(-50%, -50%);
                    transition: width 0.5s ease;
                }

                &.current::before,
                &:hover::before {
                    width: 24px;
                }
            }
        }
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  投稿ページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#single {
    font-size: $text__font--size;
    line-height: 200%;

    // アイキャッチ画像
    .eyecatch {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        height: 320px;
        position: relative;
        overflow: hidden;

        .back {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            object-fit: cover;
            filter: blur(5px) grayscale(1);
        }
        .front {
            display: block;
            width: max-content;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 50%;
            object-fit: contain;
            transform: translateX(-50%);
        }
    }

    // 記事タイトル
    h1.single__ttl {
        display: block;
        margin: 60px 0px 0px 0px;
        padding: 0px 0px 5px 0px;

        display: block;
        font-size: 28px;
        font-weight: 700;
        border-bottom: 3px solid #9e2636;
    }

    // 日付
    div.date {
        margin: 0px 0px 40px 0px;
    }

    .single-flex__contents {

        .contents {
            padding: 20px 0px;
        }

        // 見出し
        h2 {
            display: block;
            margin: 80px 0px 30px 0px;
            padding: 0px 10px;

            color: #333;
            font-size: $h2__font--size;
            font-weight: bold;
            border-left: 8px solid #9e2636;

            > * {
                color: #333;
                font-size: $h2__font--size;
                font-weight: bold;
            }
        }

        h3 {
            display: block;
            margin: 60px 0px 20px 0px;
            padding: 0px 5px;

            color: #333;
            font-size: $h3__font--size;
            font-weight: bold;
            border-bottom: 2px solid #9e2636;

            > * {
                color: #333;
                font-size: $h3__font--size;
                font-weight: bold;
            }
        }

        h4 {
            display: block;
            margin: 60px 0px 10px 0px;
            padding: 10px 0px;

            color: #333;
            font-size: $h3__font--size;
            font-weight: bold;

            > * {
                color: #333;
                font-size: $h3__font--size;
                font-weight: bold;
            }

            &::before {
                display: inline-block;
                margin-right: 10px;
                width: 18px;
                height: 10px;

                content: '';
                vertical-align: baseline;
                background: #9e2636;
                border-radius: 10px;
            }
        }

        h5, h6 {
            display: block;
            margin: 50px 0px 10px 0px;
            padding: 10px 0px;

            color: #333;
            font-size: $h3__font--size;
            font-weight: bold;

            > * {
                color: #333;
                font-size: $h3__font--size;
                font-weight: bold;
            }
        }

        p {
            margin-bottom: 1em;
            font-size: 15px;
            font-weight: 400;
        }

        strong {
            font-weight: bold;
            background: linear-gradient(to bottom, transparent 50%, #ffffaa 50%);
        }

        // テーブル
        table {
            margin-bottom: 15px;

            thead {
                th, td {
                    padding: 5px 10px;
                    border-bottom: 2px solid #888;
                }
            }
            tbody {
                th, td {
                    padding: 5px 10px;
                    border-bottom: 1px solid #888;
                }
            }
        }

        // リスト
        ul {
            display: block;
            margin: 0px;
            margin-bottom: 15px;
            padding: 0px;

            li {
                display: block;
                margin: 0px;
                padding: 0px 0px 0px 20px;
                position: relative;

                list-style-type: none;
                font-weight: 400;
                line-height: 150%;

                &::before {
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: calc(1.5em / 2);
                    left: 5px;

                    content: '';
                    background: #445;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            // 目次の所にはスタイルを効かせない
            &.ez-toc-list li::before {
                display: none;
            }
        }

        // 番号リスト
        ol {
            display: block;
            margin: 0px;
            padding: 0px 0px 0px 15px;
            counter-reset: item;

            li {
                display: block;
                margin: 0px 0px 20px 20px;
                padding: 0px;
                position: relative;

                list-style-type: none;
                font-weight: 400;

                &::before {
                    display: inline-block;
                    width: 20px;
                    position: absolute;
                    top: 0px;
                    left: -20px;

                    counter-increment: item;
                    content: counter(item)'.';
                    text-align: right;
                }
            }
        }

        // Youtube動画埋め込み
        div.wp-block-embed__wrapper {
            iframe {
                aspect-ratio: 16 / 9;
                max-height: 500px;
            }
        }

        // 豆知識エリア
        .tips {
            display: block;
            margin: 50px 0px;
            padding: 25px 25px 15px 25px;
            position: relative;

            background: white;
            border: 1px solid #ccc;

            &__ttl {
                display: block;
                padding: 5px 25px;
                position: absolute;
                top: 0px;
                left: 30px;

                justify-content: center;
                align-items: center;
                color: #333;
                font-size: 16px;
                font-weight: 400;
                line-height: 100%;
                background: white;
                border: 1px solid #ccc;
                border-radius: 20px;
                transform: translateY(-50%);
            }

            &__contents {
                color: #333;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;

                > a {
                    color: #0000ee;
                    text-decoration: underline;
                }
            }
        }

        // 筆者紹介ブロック
        .author_block {
            display: flex;
            flex-direction: row;
            margin-top: 30px;

            background: white;
            border: 1px solid #ccc;

            &--left {
                width: 160px;
                position: relative;

                background-image: url('../img/profile_background.jpg');
                background-size: cover;
                background-position: center center;
                
                .author_block__caption {
                    display: block;
                    margin: 0px;
                    padding: 5px 25px;
                    width: max-content;
                    position: absolute;
                    top: 0px;
                    left: 10px;

                    color: #333;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    background: white;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    transform: translateY(-50%);
                }

                > img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    object-fit: cover;

                    border: 5px solid white;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &--right {
                flex: 1;
                padding: 15px 25px 15px 65px;

                .author_block__name {
                    margin: 0px;
                    padding: 0px;

                    color: #333;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 100%;
                }
                .author_block__job {
                    margin: 0px;
                    padding: 0px;

                    color: #888;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 100%;
                }
                .author_block__greeting {
                    margin: 0px;
                    margin-top: 10px;
                    padding: 0px;

                    color: #333;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
    }
}


// 関連記事
.related_post {
    display: block;
    margin: 0px;

    .related_post_block {
        display: block;
        padding: 5px 0px;

        .date {
            line-height: 100%;

            > time {
                font-size: 13px;
                line-height: 100%;
                
                .fas {
                    margin: 0px 5px;
                }
            }
        }

        h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 150%;
        }

        // カテゴリー
        .categories {
            line-height: 100%;

            .cat_block {
                display: inline-block;
                margin-right: 3px;
                padding: 4px 12px;

                color: white;
                font-size: 12px;
                font-weight: 300;
                line-height: 100%;
                background: #445;
                border-radius: 15px;
            }
        }
    }
}


// ページ送りのスタイル
.post-navi {
    display: block;
    margin: 30px 0px;
    padding: 0px;
    font-size: 0px;

    > li {
        display: block;
        width: 320px;

        font-size: 16px;
        background: #eee;

        &.prev {
            float: left;
        }
        &.next {
            float: right;
        }
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  profileページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.page-about {
    .inner {
        max-width: 960px;
    }

    h2:not(.entry-title) {
        display: block;
        margin: 50px 0px 20px 0px;
        padding: 0px 10px;
    
        color: #4D473C;
        font-size: 24px;
        font-weight: 700;
        border-bottom: 3px solid #4D473C;
    }
    h3 {
        display: block;
        margin: 50px 0px 20px 0px;
        padding: 0px 10px;

        color: #4D473C;
        font-size: 20px;
        font-weight: 700;
        border-left: 5px solid #4D473C;
    }

    p {
        margin-bottom: 1em;
    }

    strong {
        font-weight: bold;
        background: linear-gradient(to bottom, transparent 50%, #ffffaa 50%);
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  contactページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.page-contact {
    .contact_table {
        width: 100%;

        th, td {
            padding: 10px 10px;
            border-bottom: 1px solid #445;
            vertical-align: top;

            .need {
                display: inline-block;
                margin-left: 10px;
                padding: 5px 10px;

                color: white;
                font-size: 14px;
                font-weight: 500;
                line-height: 100%;
                background: #d11;
                border-radius: 5px;
            }

            small {
                display: block;

                color: #4D473C;
                text-align: left;
                font-size: 13px;
                font-weight: 500;
            }

            input[type=text], input[type=email], input[type=tel], textarea {
                padding: 0px 10px;
                width: 100%;
                background: white;
                border: 1px solid #445;
                border-radius: 5px;
            }
        }

        th {
            width: 200px;
        }
    }

    input[type^=submit] {
        display: block;
        margin: 30px auto;
        padding: 15px 80px;
        width: max-content;

        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        background: #4D473C;
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  sitemapページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.page-site-map {
    // リスト
    ul#sitemap_list {
        margin: 0px;
        padding: 0px;

        > li {
            a {
                padding: 5px 0px 5px 15px;
                position: relative;

                list-style-type: disc;
                color: $contents__font--color;
                font-size: 15px;

                &::before {
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 50%;
                    left: 0px;

                    content: '';
                    background: $contents__font--color;
                    border-radius: 5px;
                    transform: translateY(-50%);
                }
            }

            > ul {
                padding-left: 20px;
                
                > li {
                }
            }
        }
    }
}



//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  privacypolicyページ
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.page-privacy-policy {
    h2 {
        display: block;
        margin: 50px 0px 20px 0px;

        font-size: 22px;
        font-weight: bold;
    }

    h3 {
        display: block;
        margin: 40px 0px 15px 0px;

        font-size: 20px;
        font-weight: bold;
    }
}